extends layout

block content
    p This weather/map mashup was created using the open weather map api, the mapbox api for geocoding, the google maps api, and the locationiq api for reverse geocoding. This app is powered by express with jade/pug being my template engine of choice.