extends layout

block content
    p You can retrieve the weather one of 2 ways. You can either enter the name of a place or a zip code. Then click the search button. Alternatively you can click on a place on the map to get the weather for that location.